<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lainsäädäntörekisteri</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>
    Kirjautunut nimellä {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
    </p>    
    {% else %}
    <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
    {% endif %}
    
    <ul>
      <li><a href="{{ url_for('vnat_index') }}">Listaa asetukset</a></li>
      <li><a href="{{ url_for('vnat_form') }}">Lisää asetus</a></li>
    </ul>
    
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>
