<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lainsäädäntörekisteri</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="{{ url_for('index') }}">Lainsäädäntörekisteri</a>
      <div class="form-inline mt-2 mt-md-0">
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('auth_logout') }}">Heippa {{ current_user.name }} -- Logout</a>
          {% else %}
          <ul>
          <a href="{{ url_for('auth_login') }}">Kirjaudu sisään</a>
          </ul>
          <ul>
          <a href="{{ url_for('auth_signup') }}">Rekisteröidy</a>
          </ul>
          {% endif %}
      </div>
    </nav>


    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-6">
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('vnat_index') }} ">Listaa valtioneuvoston asetukset</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('vnat_form') }} ">Lisää valtioneuvoston asetus</a>
          </li>
        </ul>

        <ul>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('mmmat_index') }} ">Listaa ministeriön asetukset</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('mmmat_form') }} ">Lisää ministeriön asetus</a>
          </li>
        </ul>

        <ul>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('valmistelija_index') }} ">Listaa valmistelijat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('valmistelija_form') }} ">Lisää uusi valmistelija</a>
          </li>
        </ul>
        

      </div>
    </nav>
      
    <main role="main" class="container">
      {% block body %}
      <p>
        Content.
      </p>
      {% endblock %}
    </main>
    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
  </body>
</html>







