{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Asetuksen nimi</th>
      <th>Kuvaus</th>
      <th></th>
      <th></th>
    </tr>
    {% for mmma in mmmat %}
    <tr>
      <td>{{ mmma.name }}</td>
      <td>***</td>
      <td>
        <form method="POST" action="{{ url_for('mmmat_yksi', mmma_id=mmma.id) }}">
          <input type="submit" value="Muokkaa"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('delete_mmma', mmma_id=mmma.id) }}"><input type="submit" value="Poista MMMa"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}

