{% extends "layout.html" %}

{% block body %}
<h3>Maa- ja metsätalousministeriön asetukset</h3>
  <table class="table table-sm table-hover table-bordered table-striped">
    <tr class="thead-dark">>
      <th>Asetuksen nimi</th>
      <th>Kuvaus</th>
      <th></th>
      <th></th>
    </tr>
    {% for mmma in mmmat %}
    <tr>
      <td>{{ mmma.name }}</td>
      <td>{{ mmma.kuvaus }}</td>
      <td><button class="btn btn-info" type="button" onclick="location.href='/mmmat/{{mmma.id}}'" >Näytä tiedot</button></td>
      <td><form method="POST" action="{{ url_for('delete_mmma', mmma_id=mmma.id) }}"><input type="submit" value="Poista asetus"/></form></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}


