{% extends "layout.html" %}

{% block body %}
<h3>Valmistelijat</h3>
  <table class="table table-sm table-hover table-bordered table-striped">
    <tr class="thead-dark">
      <th>Valmistelija</th>
      <th>Titteli</th>
      <th></th>
    </tr>
    {% for valmistelija in valmistelijat %}
    <tr>
      <td>{{ valmistelija.name }}</td>
      <td>{{ valmistelija.titteli }}</td>
      <td><button class="btn btn-info" type="button" onclick="location.href='/valmistelijat/{{valmistelija.id}}'" >Näytä tiedot</button></td>
      <td><form method="POST" action="{{ url_for('delete_valmistelija', valmistelija_id=valmistelija.id) }}"><input type="submit" value="Poista valmistelija"/></form></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
