{% extends "layout.html" %}

{% block body %}
<h1>Valmistelijat</h1>
  <table class="table table-sm table-hover table-bordered table-striped">
    <tr class="thead-dark">
      <th>Valmistelija</th>
      <th>Titteli</th>
      <th></th>
    </tr>
    {% for valmistelija in valmistelijat %}
    <tr>
      <td>{{ valmistelija.name }}</td>
      <td>{{ valmistelija.titteli }}</td>
      <td>
	<form method="POST" action="{{ url_for('valmistelija_view', valmistelija_id=valmistelija.id) }}">
	  <input type="submit" value="Muokkaa"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
