{% extends "layout.html" %}

{% block body %}
<h3>{{ valmistelija_name }}</h3>
<form method="POST" action"{{ url_for('get_valmistelija', valmistelija_id=valmistelija.id) }}">
  <table>
    <tr>
      <th>Valmistelijan nimi</th>
      <th>Titteli</th>
      <th></th>
    </tr>
    <tr>
      <td>{{ form.name(readonly=true) }}</td>
      <td>{{ form.titteli(readonly=true) }}</td>
      <td><button class="btn btn-info btn-lg" type="button" onclick="location.href='/valmistelijat/{{valmistelija.id}}/edit'" >Muokkaa</button></td>
    </tr>
    <tr>
      <td><a href="{{ url_for('valmistelija_index') }}">Takaisin</a></td>
    </tr>
  </table>
</form>
{% endblock %}

