{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Valmistelija</th>
      <th>***</th>
      <th></th>
    </tr>
    <tr>
      <td>{{ valmistelija.name }}</td>
      <td>***</td>
      <td>
	<form method="POST" action="{{ url_for('valmistelijat_save', valmistelija_id=valmistelija.id) }}">
	  <input type="submit" value="Tallenna"/>
	</form>
      </td>
    </tr>
    <tr>
      <td><a href="{{ url_for('list.html') }}">Takaisin</a></td>
    </tr>
  </table>
{% endblock %}
