{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Asetus</th>
      <th>Lista</th>
      <th></th>
    </tr>
    {% for vna in vnat %}
    <tr>
      <td>{{ vna.name }}</td>
      <td>{{ vna.kuvaus }}</td>
      <td>
	<form method="POST" action="{{ url_for('vnat_yksi', vna_id=vna.id) }}">
	  <input type="submit" value="Muokkaa"/>
	</form>
      </td>
      <td>
        <form method="post" action="{{ url_for('delete_vna', vna_id=vna.id) }}"><input type="submit" value="Poista VNa"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
